quiz/quiz_flow.json
[
    {
        "id": "8e35633b.b10c8",
        "type": "http in",
        "z": "818e82ff.8b81f8",
        "name": "",
        "url": "/quiz",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "c7843ddc.3f1fb"
            ]
        ]
    },
    {
        "id": "c7843ddc.3f1fb",
        "type": "template",
        "z": "818e82ff.8b81f8",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n    <style>\n    div label input {margin-right:100px;}\n    body {font-family:sans-serif; background-color:#FFFF33;}\n    span {height: 96%;font-size: xx-large;vertical-align:middle;}\n    \n#ck-button {\n    margin:4px;\n    background-color:#EFEFEF;\n    border-radius:4px;\n    border:1px solid #D0D0D0;\n    overflow:auto;\n    height:10%;\n}\n\n#ck-button:hover {\n    background:red;\n\n}\n\n#ck-button label {\n    float:center;\n    width:4.0em;\n}\n\n#ck-button label span {\n    text-align:center;\n    padding:3px 0px;\n    display:block;\n}\n\n#ck-button label input {\n    position:absolute;\n    top:-20px;\n}\n\n#ck-button input:checked + span {\n    background-color:#911;\n    color:#fff;\n}\n    </style>\n    </head>\n    <body>\n        <h1>Iniziamo con un Quiz. Conosci node red?<hr>Tra queste cose, cosa si puo' realizzare usando node red?<hr>Quando hai terminato clicca sul pulsante verde per vedere l'avanzamento del voto.</h1>\n        <form action=../result method=post>\n        <div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"iot\"><span>Accendere e spegnere le luci</span></label></div>\n\t\t<div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"web\"><span>Pubblicare (servire) una pagina web</span></label></div>\n\t\t<div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"game\"><span>Programmare un videogioco</span></label></div>\n        <div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"scraping\"><span>Controllare un articolo su un sito web e ricevere una notifica quando il prezzo scende</span></label></div>\n\t\t<div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"robot\"><span>Controllare un robot fatto con arduino</span></label></div>\n        <div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"geo\"><span>Visualizzare dati su una mappa</span></label></div>\n\t\t<div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"foto\"><span>Scattare una foto</span></label></div>\n        <div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"chat\"><span>Chattare con un bot</span></label></div>\n\t\t<div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"3D\"><span>Creare un modello 3D</span></label></div>\n\t\t<div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"quiz\"><span>Creare pagine web per fare un quiz</span></label></div>\n\t\t<div id=\"ck-button\"><label><input type=\"checkbox\" value=\"1\" name=\"flight\"><span>Riceve una notifica in caso di collisione aerea sopra casa</span></label></div>\n        <div id=\"ck-button\"><input type=submit style=\"width: 100%; height: 100%; background-color: limegreen; font; font-size:xx-large;\" value=\"Invia il tuo voto!\"></div>\n        </form>  \n        \n    </body>\n</html>",
        "x": 630,
        "y": 140,
        "wires": [
            [
                "1a89e362.92ffe5"
            ]
        ]
    },
    {
        "id": "1a89e362.92ffe5",
        "type": "http response",
        "z": "818e82ff.8b81f8",
        "name": "",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "3f373a25.9610d6",
        "type": "http in",
        "z": "818e82ff.8b81f8",
        "name": "",
        "url": "/result",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "91d956e2.1c3c48"
            ]
        ]
    },
    {
        "id": "f395cab1.43b7b8",
        "type": "template",
        "z": "818e82ff.8b81f8",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html><script>location.href = (\"../ui/\");</script></html>",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "a7a530a2.4fcd18"
            ]
        ]
    },
    {
        "id": "a7a530a2.4fcd18",
        "type": "http response",
        "z": "818e82ff.8b81f8",
        "name": "",
        "x": 770,
        "y": 340,
        "wires": []
    },
    {
        "id": "c9d4697f.d10078",
        "type": "debug",
        "z": "818e82ff.8b81f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "91d956e2.1c3c48",
        "type": "function",
        "z": "818e82ff.8b81f8",
        "name": "responses_to_chart_var",
        "func": "var iot = flow.get(\"iot\") || 0; \nvar game = flow.get(\"game\") || 0; \nvar web = flow.get(\"web\") || 0; \nvar scraping = flow.get(\"scraping\") || 0; \nvar geo = flow.get(\"geo\") || 0; \nvar chat = flow.get(\"chat\") || 0; \nvar social = flow.get(\"social\") || 0; \nvar quiz = flow.get(\"quiz\") || 0; \nvar stl = flow.get(\"stl\") || 0; \nvar flight = flow.get(\"flight\") || 0;\nif (msg.payload.iot) { iot+=parseInt(msg.payload.iot);} \nif (msg.payload.game) { game+=parseInt(msg.payload.game);} \nif (msg.payload.web) { web+=parseInt(msg.payload.web);}\nif (msg.payload.scraping) { scraping+=parseInt(msg.payload.scraping);} \nif (msg.payload.geo) { geo+=parseInt(msg.payload.geo);}\nif (msg.payload.chat) { chat+=parseInt(msg.payload.chat);} \nif (msg.payload.social) { social+=parseInt(msg.payload.social);}\nif (msg.payload.quiz) { social+=parseInt(msg.payload.quiz);}\nif (msg.payload.stl) { social+=parseInt(msg.payload.stl);}\nif (msg.payload.flight) { flight+=parseInt(msg.payload.flight);}\n\nflow.set([\"iot\",\"game\",\"web\",\"scraping\",\"geo\",\"chat\",\"social\",\"quiz\",\"stl\",\"flight\"],[iot,game,web,scraping,geo,chat,social,quiz,stl,flight])\nmsg.payload[\"series\"]= [\"iot\", \"game\",\"web\", \"scraping\",\"geo\",\"chat\",\"social\",\"quiz\",\"stl\",\"flight\"];\nmsg.payload[\"data\"]  = [[iot],[game],[web],[scraping],[geo],[chat],[social],[quiz],[stl],[flight]];\nmsg.payload=[{\n    \"series\": [\"\", \"\", \"\",\"\",\"\",\"\"],\n    \"data\": [[iot,game,web,scraping,geo,chat,social,quiz,stl,flight]],\n    \"labels\": [ \"iot\",\"game\", \"web\", \"scraping\",\"geo\",\"chat\",\"social\",\"quiz\",\"stl\",\"flight\" ]\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "f395cab1.43b7b8",
                "c9d4697f.d10078",
                "4cdb0849.9c7958"
            ]
        ]
    },
    {
        "id": "ba71a67f.43e308",
        "type": "inject",
        "z": "818e82ff.8b81f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "91d956e2.1c3c48"
            ]
        ]
    },
    {
        "id": "4cdb0849.9c7958",
        "type": "ui_chart",
        "z": "818e82ff.8b81f8",
        "name": "",
        "group": "7a17252f.3499b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "In attesa di dati...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 630,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "30a7736e.2037d4",
        "type": "comment",
        "z": "818e82ff.8b81f8",
        "name": "Pagina_domande",
        "info": "",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "842c97e1.7d17a8",
        "type": "comment",
        "z": "818e82ff.8b81f8",
        "name": "Elaborazione risposte e grafico",
        "info": "",
        "x": 1010,
        "y": 340,
        "wires": []
    },
    {
        "id": "7a17252f.3499b4",
        "type": "ui_group",
        "z": "",
        "name": "Quiz",
        "tab": "1975543b.65b4b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1975543b.65b4b4",
        "type": "ui_tab",
        "z": "",
        "name": "Quiz",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
