scheduled_mail/scheduled_mail.json
[
    {
        "id": "db06631e.a4c3b",
        "type": "tab",
        "label": "mail",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c20e306.9aba8d",
        "type": "inject",
        "z": "db06631e.a4c3b",
        "name": "",
        "topic": "",
        "payload": "\"invio manuale\"",
        "payloadType": "str",
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "eda1db4.eb12528"
            ]
        ]
    },
    {
        "id": "eda1db4.eb12528",
        "type": "function",
        "z": "db06631e.a4c3b",
        "name": "Check_week_day_of_month",
        "func": "function weekAndDay(date) {\n    var dateobj = new Date('November 15, 2019 05:35:32');\n    var days = ['Domenica','Lunedi','Martedi','Mercoledi','Giovedi','Venerdi','Sabato'],\n        prefixes = ['Primo', 'Secondo', 'Terzo', 'Quarto', 'Quinto'];\n\n    return prefixes[Math.floor((date.getDate()-1)/7)] + ' ' + days[date.getDay()] + ' del mese';\n}\n\nvar today = new Date();\nvar giorno_del_mese = weekAndDay(today);\nvar azione;\nif (giorno_del_mese == \"Secondo Martedi del mese\" || giorno_del_mese == \"Quarto Martedi del mese\" || \"invio manuale\") {\n        azione= \"Newsletter!\";\n    }\nvar prima_uscita;\nprima_uscita={ payload:giorno_del_mese };\nvar seconda_uscita;\nseconda_uscita={ payload:azione };\nif (azione==\"Newsletter!\") {\n    msg=[prima_uscita,seconda_uscita];\n    } else \n    {\n        msg=prima_uscita;\n    }\n    return msg;\n",
        "outputs": 2,
        "noerr": 0,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "ef55d5db.6efe48"
            ],
            [
                "76777b30.7b0ff4",
                "cadd4ec3.b6a34"
            ]
        ]
    },
    {
        "id": "ef55d5db.6efe48",
        "type": "debug",
        "z": "db06631e.a4c3b",
        "name": "giorno del mese",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "76777b30.7b0ff4",
        "type": "debug",
        "z": "db06631e.a4c3b",
        "name": "newsletter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "cbd1faa6.1a5fb8",
        "type": "bigtimer",
        "z": "db06631e.a4c3b",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Big Timer",
        "comment": "",
        "lat": "49",
        "lon": "11",
        "starttime": "840",
        "endtime": "840",
        "startoff": "3",
        "endoff": "4",
        "startoff2": "",
        "endoff2": "",
        "offs": "0",
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": false,
        "mon": false,
        "tue": true,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": false,
        "aug": false,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": "",
        "month6": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": "",
        "w6": "",
        "xday1": "",
        "xmonth1": "",
        "xday2": "",
        "xmonth2": "",
        "xday3": "",
        "xmonth3": "",
        "xday4": "",
        "xmonth4": "",
        "xday5": "",
        "xmonth5": "",
        "xday6": "",
        "xmonth6": "",
        "xd1": "",
        "xw1": "",
        "xd2": "",
        "xw2": "",
        "xd3": "",
        "xw3": "",
        "xd4": "",
        "xw4": "",
        "xd5": "",
        "xw5": "",
        "xd6": "",
        "xw6": "",
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "eda1db4.eb12528",
                "45d83de0.4c36f4"
            ],
            [],
            []
        ]
    },
    {
        "id": "60cc21bb.75318",
        "type": "e-mail",
        "z": "db06631e.a4c3b",
        "d": true,
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "destinatario@gmail.com",
        "dname": "",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "cadd4ec3.b6a34",
        "type": "function",
        "z": "db06631e.a4c3b",
        "name": "Mail_message",
        "func": "msg.topic = \"Newsletter Raspibo\";\nmsg.payload = \"E' il giorno di invio della newsletter!<br><br>***Contenuto della newsletter***\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "60cc21bb.75318",
                "213cb753.70eea8"
            ]
        ]
    },
    {
        "id": "45d83de0.4c36f4",
        "type": "debug",
        "z": "db06631e.a4c3b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 310,
        "y": 180,
        "wires": []
    },
    {
        "id": "213cb753.70eea8",
        "type": "debug",
        "z": "db06631e.a4c3b",
        "name": "Messaggio mail",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 830,
        "y": 200,
        "wires": []
    }
]
