scheduled_mail/scheduled_mail.json
[
    {
        "id": "d7f09944.485ac8",
        "type": "inject",
        "z": "c52a6891.e4b1b",
        "name": "",
        "topic": "1",
        "payload": "",
        "payloadType": "num",
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "acae8121.3ae5b8"
            ]
        ]
    },
    {
        "id": "acae8121.3ae5b8",
        "type": "function",
        "z": "c52a6891.e4b1b",
        "name": "Check_week_day_of_month",
        "func": "function weekAndDay(date) {\n    \n    var days = ['Domenica','Lunedi','Martedi','Mercoledi','Giovedi','Venerdi','Sabato'],\n        prefixes = ['Primo', 'Secondo', 'Terzo', 'Quarto', 'Quinto'];\n\n    return prefixes[Math.floor(date.getDate() / 7)] + ' ' + days[date.getDay()] + ' del mese';\n}\n//if (msg.payload==1) {\n    var today = new Date();\n    var messaggio = weekAndDay(today);\n    var azione ;\n    if (messaggio == \"Secondo Martedi del mese\" || messaggio == \"Quarto Martedi del mese\") {\n        azione= \"Newsletter!\";\n    }\n    var prima_uscita;\n    prima_uscita={ payload:messaggio };\n    var seconda_uscita;\n    seconda_uscita={ payload:azione };\n    if (azione==\"Newsletter!\") {\n        msg=[prima_uscita,seconda_uscita];\n    } else {\n        msg=prima_uscita;\n    }\n    return msg;\n//}",
        "outputs": 2,
        "noerr": 0,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "35fb3a42.db3176"
            ],
            [
                "f798c264.d94a48",
                "fef6e2b8.3db56"
            ]
        ]
    },
    {
        "id": "35fb3a42.db3176",
        "type": "debug",
        "z": "c52a6891.e4b1b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "f798c264.d94a48",
        "type": "debug",
        "z": "c52a6891.e4b1b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "9b6af053.f8e8a8",
        "type": "bigtimer",
        "z": "c52a6891.e4b1b",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Big Timer",
        "comment": "",
        "lat": "49",
        "lon": "11",
        "starttime": "840",
        "endtime": "840",
        "startoff": "3",
        "endoff": "4",
        "startoff2": "",
        "endoff2": "",
        "offs": "0",
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": false,
        "mon": false,
        "tue": true,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": false,
        "aug": false,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": "",
        "month6": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": "",
        "w6": "",
        "xday1": "",
        "xmonth1": "",
        "xday2": "",
        "xmonth2": "",
        "xday3": "",
        "xmonth3": "",
        "xday4": "",
        "xmonth4": "",
        "xday5": "",
        "xmonth5": "",
        "xday6": "",
        "xmonth6": "",
        "xd1": "",
        "xw1": "",
        "xd2": "",
        "xw2": "",
        "xd3": "",
        "xw3": "",
        "xd4": "",
        "xw4": "",
        "xd5": "",
        "xw5": "",
        "xd6": "",
        "xw6": "",
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "acae8121.3ae5b8",
                "e486de4.3f010a"
            ],
            [],
            []
        ]
    },
    {
        "id": "773a1cea.796fb4",
        "type": "e-mail",
        "z": "c52a6891.e4b1b",
        "server": "smtp.mail.org",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "someone@mail.org",
        "dname": "",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "fef6e2b8.3db56",
        "type": "function",
        "z": "c52a6891.e4b1b",
        "name": "Mail_message",
        "func": "msg.topic = \"Mail subject\";\nmsg.payload = \"Mail first line\" +\nmsg.payload + \n\" Mail body\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 160,
        "wires": [
            [
                "773a1cea.796fb4"
            ]
        ]
    },
    {
        "id": "e486de4.3f010a",
        "type": "debug",
        "z": "c52a6891.e4b1b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 310,
        "y": 200,
        "wires": []
    }
]
