scheduled_mail/scheduled_mail.json
[
    {
        "id": "b22083fb.2b213",
        "type": "tab",
        "label": "mail",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dd9e3891.bcdc18",
        "type": "inject",
        "z": "b22083fb.2b213",
        "name": "",
        "topic": "1",
        "payload": "",
        "payloadType": "num",
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "f632412d.5ef1c"
            ]
        ]
    },
    {
        "id": "f632412d.5ef1c",
        "type": "function",
        "z": "b22083fb.2b213",
        "name": "Check_week_day_of_month",
        "func": "function weekAndDay(date) {\n    var dateobj = new Date('November 15, 2019 05:35:32');\n    var days = ['Domenica','Lunedi','Martedi','Mercoledi','Giovedi','Venerdi','Sabato'],\n        prefixes = ['Primo', 'Secondo', 'Terzo', 'Quarto', 'Quinto'];\n\n    return prefixes[Math.floor((date.getDate()-1)/7)] + ' ' + days[date.getDay()] + ' del mese';\n}\n//if (msg.payload==1) {\n    var today = new Date();\n    var messaggio = weekAndDay(today);\n    var azione ;\n    if (messaggio == \"Secondo Martedi del mese\" || messaggio == \"Quarto Martedi del mese\") {\n        azione= \"Newsletter!\";\n    }\n    var prima_uscita;\n    prima_uscita={ payload:messaggio };\n    var seconda_uscita;\n    seconda_uscita={ payload:azione };\n    if (azione==\"Newsletter!\") {\n        msg=[prima_uscita,seconda_uscita];\n    } else {\n        msg=prima_uscita;\n    }\n    return msg;\n//}",
        "outputs": 2,
        "noerr": 0,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "6a12de84.1352c"
            ],
            [
                "56f2c396.4d319c",
                "a3a0bf43.42ba6"
            ]
        ]
    },
    {
        "id": "6a12de84.1352c",
        "type": "debug",
        "z": "b22083fb.2b213",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "56f2c396.4d319c",
        "type": "debug",
        "z": "b22083fb.2b213",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "a235273e.081368",
        "type": "bigtimer",
        "z": "b22083fb.2b213",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Big Timer",
        "comment": "",
        "lat": "49",
        "lon": "11",
        "starttime": "840",
        "endtime": "840",
        "startoff": "3",
        "endoff": "4",
        "startoff2": "",
        "endoff2": "",
        "offs": "0",
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": false,
        "mon": false,
        "tue": true,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": false,
        "aug": false,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": "",
        "month6": "",
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": "",
        "w6": "",
        "xday1": "",
        "xmonth1": "",
        "xday2": "",
        "xmonth2": "",
        "xday3": "",
        "xmonth3": "",
        "xday4": "",
        "xmonth4": "",
        "xday5": "",
        "xmonth5": "",
        "xday6": "",
        "xmonth6": "",
        "xd1": "",
        "xw1": "",
        "xd2": "",
        "xw2": "",
        "xd3": "",
        "xw3": "",
        "xd4": "",
        "xw4": "",
        "xd5": "",
        "xw5": "",
        "xd6": "",
        "xw6": "",
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "f632412d.5ef1c",
                "168207.a0fa3df9"
            ],
            [],
            []
        ]
    },
    {
        "id": "a0e6b4a8.a16dd8",
        "type": "e-mail",
        "z": "b22083fb.2b213",
        "server": "smtp.mail.org",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "danielamazza@gmail.com",
        "dname": "",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "a3a0bf43.42ba6",
        "type": "function",
        "z": "b22083fb.2b213",
        "name": "Mail_message",
        "func": "msg.topic = \"Mail subject\";\nmsg.payload = \"Mail first line\" +\nmsg.payload + \n\" Mail body\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "a0e6b4a8.a16dd8"
            ]
        ]
    },
    {
        "id": "168207.a0fa3df9",
        "type": "debug",
        "z": "b22083fb.2b213",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 310,
        "y": 180,
        "wires": []
    }
]
