AlexaSmartHome/AlexaSmartHome.json
[{"id":"7720305e.dfc91","type":"tab","label":"alexa smart home"},{"id":"658fccfc.cbfe94","type":"http in","z":"7720305e.dfc91","name":"Echo request","url":"/smarthome","method":"post","swaggerDoc":"","x":75,"y":227.54074096679688,"wires":[["3bb9fa8.74b7f06","2d511879.1a08b8"]]},{"id":"7f7f84dc.2162dc","type":"http response","z":"7720305e.dfc91","name":"","x":1624.0790710449219,"y":297.19420623779297,"wires":[]},{"id":"f9e453c6.2e48b","type":"debug","z":"7720305e.dfc91","name":"","active":false,"console":"false","complete":"payload","x":541.7514038085938,"y":61.672271728515625,"wires":[]},{"id":"92142229.8d586","type":"switch","z":"7720305e.dfc91","name":"check namespace","property":"req.body.header.namespace","propertyType":"msg","rules":[{"t":"eq","v":"Alexa.ConnectedHome.Discovery","vt":"str"},{"t":"eq","v":"Alexa.ConnectedHome.System","vt":"str"},{"t":"eq","v":"Alexa.ConnectedHome.Control","vt":"str"}],"checkall":"true","outputs":3,"x":525.8333435058594,"y":219.111083984375,"wires":[["167be9c6.818236"],["f3b93964.2f1b48"],["7a3dbd6f.52b2d4"]]},{"id":"4213ec54.853cd4","type":"template","z":"7720305e.dfc91","name":"Discovery Response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"header\": {\n    \"messageId\": \"{{_msgid}}\",\n    \"namespace\": \"Alexa.ConnectedHome.Discovery\",\n    \"name\": \"DiscoverAppliancesResponse\",\n    \"payloadVersion\": \"2\"\n    \n},\n    \"payload\": {\n    \"discoveredAppliances\": [\n        {\n            \"actions\": [\n                \"turnOn\",\n                \"turnOff\",\n                \"setPercentage\",\n                \"incrementPercentage\",\n                \"decrementPercentage\"\n            ],\n            \"additionalApplianceDetails\": {\n                \"extraDetail1\": \"optionalDetailForSkillAdapterToReferenceThisDevice\",\n                \"extraDetail2\": \"There can be multiple entries\",\n                \"extraDetail3\": \"but they should only be used for reference purposes.\",\n                \"extraDetail4\": \"This is not a suitable place to maintain current device state\"\n            },\n            \"applianceId\": \"testlight\",\n            \"friendlyName\": \"Test Light\",\n            \"friendlyDescription\": \"My test light in the office\",\n            \"isReachable\": true,\n            \"manufacturerName\": \"jonn26 inc.\",\n            \"modelName\": \"TESTDIMABLELIGHT01\",\n            \"version\": \"VER01\"\n        },\n        {\n            \"actions\": [\n                \"incrementTargetTemperature\",\n                \"decrementTargetTemperature\",\n                \"setTargetTemperature\"\n            ],\n            \"additionalApplianceDetails\": {},\n            \"applianceId\": \"thermostat\",\n            \"friendlyName\": \"Test Thermostat\",\n            \"friendlyDescription\": \"Test Thermostat in the livingroom\",\n            \"isReachable\": true,\n            \"manufacturerName\": \"jonn26 inc.\",\n            \"modelName\": \"TESTTHERMOSTAT01\",\n            \"version\": \"VER01\"\n        }\n    ]\n}\n}","x":1016.6665954589844,"y":164.66659545898438,"wires":[["7f7f84dc.2162dc"]]},{"id":"3bb9fa8.74b7f06","type":"http request","z":"7720305e.dfc91","name":"verify oauth token","method":"GET","ret":"obj","url":"https://api.amazon.com/user/profile?access_token={{req.body.payload.accessToken}}","tls":"","x":200.72222900390625,"y":295.55556297302246,"wires":[["38f8e874.ef51c8"]]},{"id":"f3b93964.2f1b48","type":"switch","z":"7720305e.dfc91","name":"HealthCheckRequest","property":"req.body.header.name","propertyType":"msg","rules":[{"t":"eq","v":"HealthCheckRequest","vt":"str"}],"checkall":"true","outputs":1,"x":753.2421569824219,"y":217.95311737060547,"wires":[["70955ef.100cca"]]},{"id":"70955ef.100cca","type":"template","z":"7720305e.dfc91","name":"HealthCheckResponse","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"header\": {\n        \"messageId\": \"{{_msgid}}\",\n        \"name\": \"HealthCheckResponse\",\n        \"namespace\": \"Alexa.ConnectedHome.System\",\n        \"payloadVersion\": \"2\"\n    },\n    \"payload\": {\n        \"description\": \"The system is currently healthy\",\n        \"isHealthy\": true\n    }\n}","x":1024.2421569824219,"y":217.13280487060547,"wires":[["7f7f84dc.2162dc"]]},{"id":"167be9c6.818236","type":"switch","z":"7720305e.dfc91","name":"DiscoverAppliancesRequest","property":"req.body.header.name","propertyType":"msg","rules":[{"t":"eq","v":"DiscoverAppliancesRequest","vt":"str"}],"checkall":"true","outputs":1,"x":774.5077819824219,"y":164.52342224121094,"wires":[["4213ec54.853cd4"]]},{"id":"2d511879.1a08b8","type":"debug","z":"7720305e.dfc91","name":"","active":false,"console":"false","complete":"req.body","x":299.7300262451172,"y":102.07900810241699,"wires":[]},{"id":"2fbdd429.feb23c","type":"change","z":"7720305e.dfc91","name":"invalid oauth key return error 401","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"401","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":603.2853698730469,"y":291.7456588745117,"wires":[["7f7f84dc.2162dc"]]},{"id":"38f8e874.ef51c8","type":"switch","z":"7720305e.dfc91","name":"verify e-mail","property":"payload.email","propertyType":"msg","rules":[{"t":"eq","v":"your_email@gmail.com","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":331.2421875,"y":219.9453125,"wires":[["92142229.8d586","f9e453c6.2e48b"],["2fbdd429.feb23c","f5a34bc5.d75518"]]},{"id":"f5a34bc5.d75518","type":"debug","z":"7720305e.dfc91","name":"","active":false,"console":"false","complete":"false","x":528.1744689941406,"y":361.41231536865234,"wires":[]},{"id":"7a3dbd6f.52b2d4","type":"switch","z":"7720305e.dfc91","name":"applianceid","property":"req.body.payload.appliance.applianceId","propertyType":"msg","rules":[{"t":"eq","v":"testlight","vt":"str"},{"t":"eq","v":"thermostat","vt":"str"}],"checkall":"true","outputs":2,"x":726.25,"y":522.9452972412109,"wires":[["83045c19.b2d66"],["5d8d69b6.40b6e8"]]},{"id":"83045c19.b2d66","type":"change","z":"7720305e.dfc91","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.header.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":913.0198669433594,"y":484.92186737060547,"wires":[["1efcd751.85c639","a076bd16.a1262"]]},{"id":"35aab199.f0adee","type":"template","z":"7720305e.dfc91","name":"ControlResponse","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"header\": {\n        \"messageId\": \"{{_msgid}}\",\n        \"name\": \"{{payload}}\",\n        \"namespace\": \"Alexa.ConnectedHome.Control\",\n        \"payloadVersion\": \"2\"\n    },\n    \"payload\": {}\n}\n","x":1420.2421569824219,"y":485.63280487060547,"wires":[["7f7f84dc.2162dc"]]},{"id":"1efcd751.85c639","type":"change","z":"7720305e.dfc91","name":"set confirmation","rules":[{"t":"change","p":"payload","pt":"msg","from":"TurnOnRequest","fromt":"str","to":"TurnOnConfirmation","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"TurnOffRequest","fromt":"str","to":"TurnOffConfirmation","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"SetPercentageRequest","fromt":"str","to":"SetPercentageConfirmation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150.1308288574219,"y":485.3108139038086,"wires":[["35aab199.f0adee"]]},{"id":"a076bd16.a1262","type":"switch","z":"7720305e.dfc91","name":"On / Off / Percentage","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"},{"t":"eq","v":"SetPercentageRequest","vt":"str"}],"checkall":"true","outputs":3,"x":1172.8333435058594,"y":408.66661834716797,"wires":[["6582537f.2786dc"],["7afc3acc.1dc734"],["7ab20788.f5b338"]]},{"id":"7ab20788.f5b338","type":"change","z":"7720305e.dfc91","name":"testlight percent","rules":[{"t":"set","p":"topic","pt":"msg","to":"testlight","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"req.body.payload.percentageState.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1411.3889083862305,"y":446.9999885559082,"wires":[["c4e89209.5a2a9"]]},{"id":"6582537f.2786dc","type":"change","z":"7720305e.dfc91","name":"testlight on","rules":[{"t":"set","p":"topic","pt":"msg","to":"testlight","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1402.6665954589844,"y":370.66661834716797,"wires":[["c4e89209.5a2a9"]]},{"id":"7afc3acc.1dc734","type":"change","z":"7720305e.dfc91","name":"testlight off","rules":[{"t":"set","p":"topic","pt":"msg","to":"testlight","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1401.1110534667969,"y":408.8888626098633,"wires":[["c4e89209.5a2a9"]]},{"id":"ba9b414c.0fb37","type":"comment","z":"7720305e.dfc91","name":"Edit DiscoveryResponse with your device names","info":"See the following for details on the fields:\n\nhttps://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/smart-home-skill-api-reference","x":1097.4812927246094,"y":128.6296157836914,"wires":[]},{"id":"c4e89209.5a2a9","type":"debug","z":"7720305e.dfc91","name":"","active":true,"console":"false","complete":"false","x":1644.8149108886719,"y":409.2221908569336,"wires":[]},{"id":"5d5f8246.fb7c8c","type":"comment","z":"7720305e.dfc91","name":"ControlRequest","info":"","x":725.9258728027344,"y":479.4073715209961,"wires":[]},{"id":"47d3abbd.821ac4","type":"comment","z":"7720305e.dfc91","name":"Edit your e-mail address here","info":"This flow assumes you are using \"login with amazon\"\n\nedit the verify e-mail node with your amazon linked e-mail address.","x":342.0370635986328,"y":177.4074182510376,"wires":[]},{"id":"c091a3b4.7a7c9","type":"comment","z":"7720305e.dfc91","name":"testlight","info":"","x":872.8334045410156,"y":450.99999237060547,"wires":[]},{"id":"5d8d69b6.40b6e8","type":"change","z":"7720305e.dfc91","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.header.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910.6665954589844,"y":563.6667098999023,"wires":[["c01c2aba.414018"]]},{"id":"c01c2aba.414018","type":"switch","z":"7720305e.dfc91","name":"Set / Incr / Decr","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"SetTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"IncrementTargetTemperatureRequest","vt":"str"},{"t":"eq","v":"DecrementTargetTemperatureRequest","vt":"str"}],"checkall":"true","outputs":3,"x":1145.6665954589844,"y":612.6667098999023,"wires":[[],[],[]]},{"id":"29177969.e3d1b6","type":"comment","z":"7720305e.dfc91","name":"thermostat","info":"","x":881.6665954589844,"y":530.6667098999023,"wires":[]},{"id":"14c505fc.87803a","type":"comment","z":"7720305e.dfc91","name":"Thermostat Work-In-Progress","info":"","x":1155.8333435058594,"y":554.0000839233398,"wires":[]}]