HUE/luci-HUE.json
[
    {
        "id": "191bd28a.9b37cd",
        "type": "tab",
        "label": "Flow 13",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ffc813.3c3be8",
        "type": "hue-light",
        "z": "191bd28a.9b37cd",
        "name": "Scrivania",
        "bridge": "",
        "lightid": "3",
        "colornamer": true,
        "skipevents": false,
        "x": 820,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6ff962e2.caf4ac",
        "type": "ui_switch",
        "z": "191bd28a.9b37cd",
        "name": "",
        "label": "Scrivania",
        "tooltip": "",
        "group": "32bb9ef3.d10512",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "7ffc813.3c3be8"
            ]
        ]
    },
    {
        "id": "b3c331f2.889b4",
        "type": "ui_colour_picker",
        "z": "191bd28a.9b37cd",
        "name": "Colore Luce scrivania",
        "label": "Colore Luce scrivania",
        "group": "32bb9ef3.d10512",
        "format": "hex",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "fb44dad1.fe40f8"
            ]
        ]
    },
    {
        "id": "fb44dad1.fe40f8",
        "type": "function",
        "z": "191bd28a.9b37cd",
        "name": "Colore della luce",
        "func": "\nreturn {payload: { hex: msg.payload} };",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "7ffc813.3c3be8"
            ]
        ]
    },
    {
        "id": "7f18ee6f.bf297",
        "type": "function",
        "z": "191bd28a.9b37cd",
        "name": "Splitter",
        "func": "return [\n    {payload: msg.payload.on},\n    {payload: msg.payload.hex},\n    {payload: msg.payload.brightness}\n]\n\n",
        "outputs": 3,
        "noerr": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "6ff962e2.caf4ac"
            ],
            [
                "b3c331f2.889b4"
            ],
            [
                "f0d8b340.9663c"
            ]
        ]
    },
    {
        "id": "2f83eb58.8fb7c4",
        "type": "hue-light",
        "z": "191bd28a.9b37cd",
        "name": "Scrivania",
        "bridge": "",
        "lightid": "3",
        "colornamer": true,
        "skipevents": false,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "7f18ee6f.bf297"
            ]
        ]
    },
    {
        "id": "f0d8b340.9663c",
        "type": "ui_slider",
        "z": "191bd28a.9b37cd",
        "name": "Luminosità",
        "label": "Luminosità",
        "tooltip": "",
        "group": "32bb9ef3.d10512",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "9de43ae.010a0c8"
            ]
        ]
    },
    {
        "id": "9de43ae.010a0c8",
        "type": "function",
        "z": "191bd28a.9b37cd",
        "name": "Luminosità della luce",
        "func": "\nreturn {payload: { brightness: msg.payload} };",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "7ffc813.3c3be8"
            ]
        ]
    },
    {
        "id": "c273006b.ce5d3",
        "type": "comment",
        "z": "191bd28a.9b37cd",
        "name": "Note",
        "info": "Luce HUE con regolazione di colore e luminosità. Si comanda dall'interfaccia.",
        "x": 190,
        "y": 440,
        "wires": []
    },
    {
        "id": "32bb9ef3.d10512",
        "type": "ui_group",
        "z": "",
        "name": "Luci studio",
        "tab": "242dc0af.40b9c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "242dc0af.40b9c",
        "type": "ui_tab",
        "z": "",
        "name": "Controllo luci",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]